<header id="header">
    <div class="navbar text-center">
        <div class="container">
            <!-- menu -->
            <nav id="navigation-menu" role="navigation">
                <ul class="nav navbar-nav animated" data-animation="fadeIn" data-animation-delay="300">
                    <li><a class="active gohome">Home</a></li>
                    <li><a class="gosubscribe">Subscribe</a></li>
                    <li><a class="goabout">About</a></li>
                    <li><a class="gocontact">Contact</a></li>
                    <li><a class="gofeatures">Features</a></li>
                </ul>
            </nav>
            <!-- end menu -->

        </div>
        <!-- end container -->
    </div>
</header>
